/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-header {
    justify-content: center;
}

.example-card {
    max-width: 400px;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.minW {
    min-width: 300px;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}