<div class="parent">
    <mat-card class="example-card minW">
      <mat-card-header class="formHeader">
        <mat-card-title>Kayıt ol</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="registerForm" [formGroup]="registerForm">
          <mat-form-field>
            <mat-label>İsim</mat-label>
            <input matInput formControlName="name" placeholder="İsminizi giriniz">
              <mat-error *ngIf="registerForm.get('name')?.hasError('required')">
              İsim zorunludur.
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Soy isim</mat-label>
            <input matInput formControlName="surName" placeholder="Soy İsminizi giriniz">
              <mat-error *ngIf="registerForm.get('surName')?.hasError('required')">
              Soy İsim zorunludur.
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Adres</mat-label>
            <input matInput formControlName="address" placeholder="Adresinizi giriniz">
              <mat-error *ngIf="registerForm.get('address')?.hasError('required')">
              Adres zorunludur.
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" placeholder="E-mailinizi giriniz">
              <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
              E-mail zorunludur.
              </mat-error>
            <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
              Lütfen doğru formatta e-mailinizi giriniz.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Şifre</mat-label>
            <input matInput formControlName="password" type="password" placeholder="şifrenizi giriniz">
            <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
              Şifre zorunludur.
            </mat-error>
            <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
              Şifre minimum 8 karakter olmalı.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Şifre Tekrar</mat-label>
            <input matInput formControlName="repassword" type="password" placeholder="şifrenizi giriniz">
            <!-- PASSWORD CHECK (BASIC) -->
            <!-- <mat-error *ngIf="registerForm.get('password')!.value !== registerForm.get('repassword')!.value">
                Şifreler farklı!
            </mat-error> -->
            
            <!-- PASSWORD CHECK (CUSTOM) -->
            <mat-error *ngIf="registerForm.get('repassword')?.hasError('not_the_same')">
              Şifreler eşleşmiyor
            </mat-error>
            <mat-error *ngIf="registerForm.get('repassword')?.hasError('required')">
              Şifre Tekrarı zorunludur.
            </mat-error>
            <mat-error *ngIf="registerForm.get('repassword')?.hasError('minlength')">
              Şifre minimum 8 karakter olmalı.
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Giriş Yap</button>
        </form>
      </mat-card-content>
    </mat-card>
    </div>