:root {
    --todoCardWidth: 400px;
    --todoCardHeight: 400px;
    --headerColor: rgb(47, 92, 148);
    --todoCardBgColor: lightsteelblue;
    --inputBoxBgColor: lightcyan;
    --listBgColor: whitesmoke;
    --itemCompletedBgColor: lightgray;
    --deleteButtonBgColor: lightslategray;
    --deleteButtonHoverBgColor: rgb(72, 69, 69);
    --deleteButtonActiveBgColor: darkgray;
    --blockSpace: 12px;
    --rowCount: 7;
    --itemHeight: calc((400px - 3 * var(--blockSpace)) / var(--rowCount));
}

.todoCard {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--todoCardWidth);
    height: var(--todoCardHeight);
    transform: translate(-50%, -50%);
    background-color: var(--todoCardBgColor);
    filter: drop-shadow(0 0 1rem gray);
}

.todoCard__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--headerColor);
    color: #fff;
    min-height: 50px;
    padding: 0 var(--blockSpace);
}

.todoCard__addNewItem {
    display: flex;
    align-items: center;
    width: calc(100% - var(--blockSpace));
}

.todoCard__addNewItemButton {
    height: var(--itemHeight);
    width: var(--itemHeight);
    font-size: large;
    border: none;
}

.todoCard__inputBox {
    background-color: var(--inputBoxBgColor);
    height: var(--itemHeight);
    margin: var(--blockSpace);
    border: none;
    width: 100%;
}

.todoCard__inputBox:focus {
    outline-style: solid;
    outline-color: var(--headerColor);
}

.todoCard__list {
    list-style: none;
    background-color: var(--listBgColor);
    margin: 0 var(--blockSpace) var(--blockSpace) var(--blockSpace);
    padding: 0;
    user-select: none;
    overflow-y: scroll;
}

.todoCard__item {
    display: flex;
    justify-content: space-between;
    height: var(--itemHeight);
    line-height: var(--itemHeight);
    padding: 0 var(--blockSpace);
}

.todoCard__item--completed {
    background-color: var(--itemCompletedBgColor);
    text-decoration: line-through;
}

.todoCard__deleteItemButton {
    border: none;
    border-radius: 5px;
    background-color: var(--deleteButtonBgColor);
    color: white;
    padding: .5px 4px;
}

.todoCard__deleteItemButton:hover {
    background-color: var(--deleteButtonHoverBgColor);
}

.todoCard__deleteItemButton:active {
    background-color: var(--deleteButtonActiveBgColor);
}