<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>İsim</label>
        <input class="form-control" type="text" (input)="onNameChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>İsim</b></label>
      <div>titlecase: {{name | titlecase}}</div>
      <div>uppercase: {{name | uppercase}}</div>
      <div>lowercase: {{name | lowercase}}</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Tarih</label>
        <input class="form-control" type="date" (input)="onDateChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Tarih</b></label>
      <div>formatted date: {{date | date: 'dd.MM.yyyy'}}</div>
      <div>long date: {{date | date: 'longDate'}}</div>
      <div>medium date: {{date | date: 'mediumDate'}}</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Boy</label>
        <input class="form-control" type="text" (input)="onHeightChange($event.target.value)">
      </div>
    </div>
    <div class="col-md-6">
      <label><b>Boy</b></label>
      <div>HeightX: {{height | number: '1.1-4'}}</div>
    </div>
  </div>
</div>