<div class="container">
  <div class="my-5">
    <h1>Blog sitesi</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, aliquam corrupti architecto deleniti quae a
      ullam. Cupiditate amet distinctio obcaecati recusandae omnis accusamus, iure aperiam non, necessitatibus
      voluptatem error sed?</p>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-4" *ngFor="let postItem of posts | slice: (page-1) * pageSize : page * pageSize">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{postItem.title | slice:0:20}}...</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='/assets/image{{postItem.imageId}}.jpg'>
        <!-- <img mat-card-image [src]="'assets/image' + postItem.imageId + '.jpg'"> -->
        <mat-card-content>
          <p>{{postItem.body | slice:0:11}}...</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/view-blog', postItem.id]">Show</button>
          <button mat-raised-button color="accent" [routerLink]="['/update-blog', postItem.id]">Edit</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center my-4">
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="posts.length"></ngb-pagination>
</div>